* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/* 
-------------- Header Section-------------  */

header {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    padding: 1.2em 1.2em 0 1.2em;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 1em;
}

/* Header Text */

header .hero-text {
    width: 42%;
    align-self: center;
    padding-left: 2em;
}

header .hero-text h1 {
    font-size: 3.5em;
    font-weight: 900;
}

header .hero-text p {
    margin: 30px 0;
    line-height: 1.5em;
}

header .hero-text button {
    font-size: 1em;
    color: white;
    padding: 10px 25px;
    background: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    border: none;
}

header .hero-text button:hover {
    background: rgba(255, 0, 0, 1);
}

/* Header Img */

header .hero-imgs {
    width: 50%;
    height: 500px;
    background-image: url("photo/marcello.jpg");
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: right;
    animation: changeImage 15s cubic-bezier(0, 1.28, .06, .94) infinite;
}

@keyframes changeImage {
    0% {
        background-image: url("photo/marcello.jpg");
    }

    50% {
        background-image: url("photo/messi.jpg");
    }

}

/* 
-------------- Main Section-------------  
*/

main {
    display: flex;
    justify-content: space-between;
}

/* Side Menu */

.side-menu {
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}

.side-menu .side-btn {
    width: 12em;
    padding: .9em 0;
    border-radius: .5em;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 14px 86px 7px rgba(0, 0, 0, 0.18);
}

.side-menu .side-btn:hover {
    background-color: red;
}

/* Article Section  */

main .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

main .blogs .blog {
    box-shadow: -3px 14px 86px 7px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

main .blogs .blog-img {
    width: 100%;
}

main .blogs .blog-info {
    padding: 20px;
}

main .blogs button {
    padding: 7px 15px;
    font-weight: bold;
    background-color: rgb(202, 202, 202);
    border: none;
    border-radius: 3px;
}

main .blogs .blog-text {
    margin: 18px 0;
    font-weight: bold;
}

main .blogs .blog-icon {
    margin-right: 2em;
}

main .blogs .blog-icon i {
    padding-right: 5px;
}


/* ----------------------------------
(View All) Button for tablet view Only 
------------------------------------*/

.view-all {
    display: none;
}

.view-all button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    background: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    border: none;
}


/* 
-------------- Live Match Section (match.html) -------------  
*/


main .live-links {
    width: calc(100% - 260px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

main .live-link {
    box-shadow: -3px 14px 86px 7px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    padding: 20px;
}

main .live-link .link-img-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

main .live-link img {
    width: 44%;
}


main .live-link span {
    font-weight: bold;
}

main .live-link-text {
    text-align: center;
}

main .live-link-text p {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 1.2em;
}

main .live-link-text small {
    color: gray;
}



/* 
-------------- Footer Section-------------  
*/
footer {
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    padding: 100px 0 50px;
}

footer h2 {
    margin-bottom: 50px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 70%;
    margin: 0 auto;
}

footer .footer-menu {
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .footer-menu a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer .social-links {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

footer .social-links a {
    text-decoration: none;
    font-size: 2.5em;
    color: white;
}

/* 
-------------- Responsive Mobile Design -------------  
*/

@media screen and (max-width: 480px) {
    body {
        margin: auto;
    }


    /* Header Section */

    header {
        flex-direction: column;
        margin: 25px 0;
    }

    header .hero-text {
        width: 95%;
        text-align: center;
        padding: 1em;
    }

    header .hero-text h1 {
        font-size: 2em;
        line-height: 1.5em;
    }

    header .hero-text p {
        line-height: 1.8em;
        height: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    header .hero-imgs {
        width: 95%;
        height: 330px;
        margin-top: 30px;
        background-size: 85%;
    }


    /* Main Section */

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-menu {
        font-size: 1.5em;
        width: 95%;
        height: auto;
        padding: 20px;
        background-color: white;
        margin-right: 0;
    }

    .side-menu a {
        margin-top: 20px;
    }

    main .blogs {
        width: 95%;
        margin-top: 40px;
        grid-template-columns: 1fr;
        gap: 1.5em;
    }

    /* Main(match.html) Section */

    main .live-links {
        margin-top: 40px;
        width: 95%;
        grid-template-columns: 1fr;
    }


    /* Footer Section */

    footer .footer-menu {
        flex-direction: column;
    }

    footer .footer-menu a {
        padding-bottom: 30px;
    }
}

/* 
-------------- Responsive Tablet Design -------------  
*/

@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Header Section */

    header .hero-text {
        width: 48%;
        align-self: center;
        padding-left: 1em;
    }

    header .hero-text h1 {
        font-size: 2em;
    }

    header .hero-imgs {
        width: 50%;
        height: 295px;
        background-size: 85%;
    }

    header .hero-text p {
        line-height: 1.8em;
        height: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    /* Main Section */

    main {
        flex-direction: column;
    }

    .side-menu {
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 1em;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
    }

    main .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    main .blog:last-child {
        display: none;
    }

    /* (View All) Button */

    .view-all {
        margin: 40px auto;
        display: block;
        text-align: center;
    }

    /* Main(match.html) Section */

    main .live-links {
        width: 98%;
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 
-------------- Responsive Small Screen(Laptop) Design -------------  
*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Header Section */

    header .hero-imgs {
        height: 430px;
    }

    header .hero-text h1 {
        font-size: 2.5em;
        line-height: 1.3em;
    }

    header .hero-text p {
        height: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Main Section */

    main .blogs .blog-icon {
        margin-top: 10px;
        display: block;
    }
}