* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/* 
-------------- Header Section-------------  */

Header {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    padding: 1.2em 1.2em 0 1.2em;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 1em;
}

/* Header Text */

header .hero-text {
    width: 42%;
    align-self: center;
    padding-left: 2em;
}

header .hero-text h1 {
    font-size: 3.5em;
    font-weight: 900;
}

header .hero-text p {
    margin: 30px 0;
    line-height: 1.5em;
}

header .hero-text button {
    font-size: 1em;
    color: white;
    padding: 10px 25px;
    background: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
}

header .hero-text button:hover {
    background: rgba(255, 0, 0, 1);
}

/* Header Img */

header .hero-imgs {
    width: 50%;
    height: 500px;
    background-image: url("photo/marcello.jpg");
    background-size: 83%;
    background-repeat: no-repeat;
    background-position: right;
    animation: changeImage 10s cubic-bezier(0, 1.28, .06, .94) infinite;

}

@keyframes changeImage {
    0% {
        background-image: url("photo/marcello.jpg");
    }

    50% {
        background-image: url("photo/messi.jpg");
        background-size: 90%;
    }

}

/* 
-------------- Main Section-------------  
*/

main {
    display: flex;
    justify-content: space-between;
}

/* Side Menu */

.side-menu {
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5em;
}

.side-menu .side-btn {
    width: 12em;
    padding: .9em 0;
    border-radius: .5em;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(252, 252, 252);
}

.side-menu .side-btn:hover {
    background-color: red;
}

/* Article Section  */

main .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

main .blogs .blog {
    box-shadow: -3px 14px 86px 7px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

main .blogs .blog-img {
    width: 100%;
}

main .blogs .blog-info {
    padding: 20px;
}

main .blogs button {
    padding: 5px 15px;
    font-weight: bold;
}

main .blogs .blog-text {
    margin: 18px 0;
    font-weight: bold;
}

main .blogs .blog-icon {
    margin-right: 20px;
}

/* 
-------------- Live Match Section-------------  
*/


main .live-links {
    width: calc(100% - 300px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
}

main .live-link {
    box-shadow: -3px 14px 86px 7px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    padding: 20px;
}

main .live-link .link-img-area {
    display: flex;
    align-items: center;
}

main .live-link img {
    width: 44%;
}


main .live-link span {
    font-weight: bold;
    padding: 15px;
}

main .live-link-text {
    text-align: center;
}

main .live-link-text p {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 1.2em;
}

main .live-link-text small {
    color: gray;
}



/* 
-------------- Footer Section-------------  
*/
footer {
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    padding: 100px 0 50px;
}

footer h2 {
    margin-bottom: 50px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 70%;
    margin: 0 auto;
}

footer .footer-menu {
    width: 70%;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
}

footer .footer-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer .social-links {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

footer .social-links a {
    text-decoration: none;
    font-size: 2.5em;
    color: white;
}